body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

fieldset{
    padding: 10px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    margin: 5px 0;

}

legend{
    font-weight: bold;
}

label{
    display: block;
    cursor: pointer;
}

input{
    width: 300px;
}